@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #FFA344; 
  }
}

.writer {
  font-family: Roboto Mono, monospace;
  display: inline-block;
}

.writer-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 3s steps(20, end), blink .75s step-end infinite;
  white-space: nowrap;
  border-right: 3px solid #FFA344;
  box-sizing: border-box;
}

@media (min-width: 648px) {
  .writer-text {
    font-size: 30px;
  }
}